shamefully-hoist=false
detect_chromedriver_version=true
strict-peer-dependencies=false
//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}
@talexjs/theme:registry=https://npm.pkg.github.com
always-auth=true